{% extends "base.html" %}
{% block title %} TRLLC | Book a Service{% endblock %}

{% block content %}

<div style="background-color: black; color: white;">
    <p style="margin-bottom: 0; text-align: center;">&ast;Note: All service calls are subject to a <span
            style="color: #65FE00;">$25</span> service fee.</p>
</div>

<div class="iframe-cont">
    <div id="book-container" class="conatiner">

        <div id="calendly" class="calendly-inline-widget" data-url="https://calendly.com/anthony-chalabis01/30min"
            style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

    </div>
</div>

{% endblock %}