{% extends "base.html" %}
{% block title %}Services | OS Installation{% endblock %}

{% block content %}

<div class="iframe-cont" style="padding: 5%;">
    <div id="cont" class="conatiner"
        style="background-color: rgba(0, 0, 0, 0.808); backdrop-filter: blur(4px); width: 100%; height: 100%; color: white;">
        <div style="background-color: #0F530E; border-radius: 50%; width: fit-content;" class="back-bubble">
            <a style="color: #66FF00;" href="{{ url_for('views.services') }}"><svg
                    style="margin-left: 1px; margin-top: 1px; height: auto; width: 50px;" stroke="currentColor"
                    fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                </svg></a>
        </div><br>
        <h1>Operating System Installation</h1>
        <hr style="color: #66FF00;">
        </hr>

        <p>Tech Rescue LLC specializes in efficient operating system installations for individuals and businesses. We
            begin with detailed consultations to tailor the installation to each client's specific needs, whether it's
            Windows, macOS, Linux, or other systems. We ensure smooth setup and compatibility,
            minimizing potential issues and optimizing system performance from start to finish.</p>

        <p>Moreover, we emphasizes user education and ongoing support. We will provide tutorials and guidance to help clients maximize their new operating system's capabilities. Our commitment extends beyond installation, with accessible support for any technical questions or issues that arise, ensuring clients receive comprehensive assistance throughout their experience.</p>

        <img style="width: 100px;" src="{{ url_for('static', filename='images/blogo.png') }}">
    </div>
</div>

{% endblock %}